.slide-header {
  margin-bottom: 2.8em;
  padding-top: 2.5em;
  font-weight: 300;
}

.layout__content {
  padding-top: 0;
  padding-bottom: 0;
}

.layout__content--pb0 {
  padding-bottom: 0;
}

.slide-header__info {

  p {
    margin: 0;
    margin-bottom: 0.5em;
  }
}
