.slide-header {
  font-size: 1.042em;
  display: block;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 2em;
  margin: 0;
  font-weight: 500;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1em;
    left: 1em;
    transform: translate(-50%, 50%);
    background: get-color('violet');
    width: 3.2em;
    height: 0.4em;
  }
}
