.slide-header {
  margin-bottom: 2.4em;
  padding-top: 2.4em;
}

.layout__content {
  padding-top: 0;
}

.layout__content--pb0 {
  padding-bottom: 0;
}

.slide-header__info {

  p {
    margin: 0;
    margin-bottom: 0.5em;
  }
}
