// bower:scss
// endbower

@import './config';
@import './mixins';

html {
  font-size: 100%;
  font-family: Roboto, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  min-width: 320px;
}

body {
  width: 100%;
  // height: 100%;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  position: relative;
}

.spacer {
  flex: 1 1 auto;
}

.menu-mockup {
  &::before,
  &::after {
    display: block;
    position: absolute;
    content: '';
    background: get-color('purple');
    width: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 16px 0 rgba(get-color('black'), 0.5);
  }
  padding: 116px 0 58px 0;
  font-size: 10px;

  &::before {
    top: 0;
    height: 116px;
  }

  &::after {
    bottom: 0;
    height: 58px;
  }

  @include breakpoint('xsmall') {
    &::before {
      height: 58px;
    }
  }

  @include breakpoint('large') {
    &::after,
    &::before {
      height: 102px;
    }
  }
}

@import 'reset';
@import 'components/header';
@import 'components/sidenav';
@import 'components/layout';
@import 'components/item';
@import 'components/term';
@import 'components/animations';
@import 'components/button';
@import 'components/table';

//  Пример слайда
@import 'slides/example';
@import 'slides/slide';
@import 'slides/content-inner';
@import 'slides/diagramma.scss';
@import 'slides/slide-grafics.scss';
@import 'slides/slide-header.scss';
@import 'slides/slide-title.scss';
@import 'slides/slide-image.scss';
@import 'slides/slide-btn.scss';
@import 'slides/sidebar.scss';
