@keyframes wave {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes wobble {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}