.alp-header {
  font-size: 1.042em;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 2em;
  margin: 0;
  font-weight: 500;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1em;
    left: 1em;
    transform: translate(-50%, 50%);
    background: #6066b6;
    width: 3.2em;
    height: 0.4em;
  }

  &--clean {
    padding-bottom: 0;
    &::after {
      content: none;
    }
  }

  &--centered {
    &::after {
      left: 50%;
    }
  }
}